* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header-container {
  width: 320px;
  background-color: #252b42;
  color: #fff;
  display: grid;
  grid-template-rows: 32px 150px 158px 90px 42px 42px 416px;
  row-gap: 10px;
  text-align: center;
  margin: auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  color: #fff;
  background-color: #252b42;
  padding: 25px;
  line-height: 10px;
  margin: auto;
}

.brandname {
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.07px;
  word-wrap: break-word;
}

.header-icons {
  color: #fff;
}

.hppc-wrapper {
  text-align: center;
  margin-top: 15px;
}

.header-txt {
  text-align: center;
  width: 320;
}

.header-h4 {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 15px;
}

.get-quote {
  border: none;
  background-color: #23a6f0;
  border-radius: 10px;
  width: 185px;
  height: 42px;
  padding: 10px, 36px;
  border-radius: 37px;
  gap: 20px;
  font-weight: 700;
  font-size: larger;
  color: #fff;
}

.learn-more {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 125px;
  height: 30px;
  background-color: #252b42;
  color: #fff;
}

.blue-resizer {
  color: #fff;
}

iframe {
  width: 320px;
  height: 320px;
  margin: auto;
}

.features-4 {
  color: #fff;
  margin: auto;
  height: 790px;
  width: 320px;
  display: grid;
  padding: 25px;
  text-align: center;
  background-color: #252b42;
}

.feature4-container1 {
  gap: 5px;
  margin-bottom: 15px;
}

.txt-h2 {
  padding-bottom: 5px;
  font-size: 40px;
  text-align: left;
}

.txt-p2 {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 3px;
}

.feature4-container2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 5px;
  color: #252b42;
}

.feature4-container3 {
  display: flex;
  flex-flow: column;
  gap: 5px;
  margin-top: 5px;
  text-align: left;
}

.resizer1 {
  display: flex;
  padding: 10px;
  gap: 50px;
  background-color: #fff;
  width: 100%;
}

.txt-resizer {
  background-color: #fff;
}

.icon-resizer1 {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50px;
  background-color: #23a6f0;
}

.testimonials {
  background-color: #252b42;
  height: 550px;
  width: 320px;
  padding: 25px;
  text-align: center;
  color: #fff;
  margin: auto;
}

.txt-h22 {
  padding-bottom: 5px;
  font-size: 40px;
  padding-bottom: 20px;
}

.txt-p22 {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 15px;
}

.card-row2 {
  background-color: #fff;
}

.card-txt {
  color: #fff;
}

.selfie-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}

.card-star {
  padding: 10px;
  color: #f3cd03;
  font-size: x-large;
}

.name-1 {
  /* font-family: Montserrat; */
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.name-designer {
  /* font-family: Montserrat; */
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.faq1 {
  background-color: #252b42;
  height: 600px;
  width: 320px;
  margin: auto;
  padding: 25px;
  color: #fff;
}

.faq {
  /* font-family: Montserrat; */
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.faq-p {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 15px;
}

.faq1-row1 {
  display: flex;
  gap: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  line-height: 1;
}

.faq-h5 {
  /* font-family: Montserrat; */
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: 0.1px;
  text-align: left;
}

.faq1-div-container2 {
  display: grid;
  row-gap: 10px;
  border-radius: 5px;
  margin: auto;
}

.faq1-arrow {
  color: #23a6f0;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.pricing-3 {
  background-color: #252b42;
  height: 1624px;
  width: 320px;
  margin: auto;
  padding: 25px;
  text-align: center;
}

.pricing-wrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.pricing-3-row1 {
  text-align: center;
  color: #fff;
  padding: 5px;
}

.icon-pricing {
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: #23a6f0;
  border-radius: 50px;
  padding: 15px;
  font-size: xx-large;
  margin: auto;
}

.pricing-h2 {
  /* font-family: Montserrat; */
  font-size: 40px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.pricing-p {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 15px;
}

.pricing-style {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  background-color: #fff;
  width: 260px;
  height: 450px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.per-month {
  display: inline-flex;
  text-align: center;
  margin: auto;
}

.free {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
}

.app-by.hand {
  /* font-family: Montserrat; */
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
}

.free-try {
  background-color: #23a6f0;
  border: none;
  width: 260px;
  height: 45px;
  border-radius: 5px;
  font-size: large;
  color: #fff;
}

.amount {
  font-size: xx-large;
}

.pricing-style2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  background-color: #23a6f0;
  height: 410px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  color: #fff;
}

.standard-h3 {
  margin-top: 30px;
  /* font-family: Montserrat; */
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
}

.features-list {
  padding-bottom: 20px;
}

.feature-item {
  display: flex;
  justify-content: space-evenly;
  row-gap: 10px;
  text-align: center;
}

.green-tick {
  background-color: #096a09;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  line-height: 10px;
}

.green-brown {
  background-color: #e88d8d;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  line-height: 10px;
}

.app-by-hand {
  /* font-family: Montserrat; */
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
}

.free-try1 {
  background-color: #fff;
  border: none;
  width: 260px;
  height: 45px;
  border-radius: 5px;
  font-size: large;
  color: #000;
}

.footer-1 {
  background-color: #252b42;
  height: 420px;
  width: 320px;
  margin: auto;
  padding: 45px;
}

.getituch {
  /* font-family: Montserrat; */
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
}

.col-md-3 {
  color: #fff;
  padding-bottom: 15px;
}

.social-media {
  color: #23a6f0;
  word-spacing: 20px;
  padding-top: 10px;
  font-weight: 500px;
}

.col-md-31 {
  color: #fff;
  gap: 10px;
}

.made-by {
  color: #fff;
  font-size: small;
  text-align: center;
}

.col-smal {
  font-size: x-small;
}
